<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="unica"
            connectionString="Data Source=DMLAP\SQLEXPRESS;Initial Catalog=libreria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>